@media(max-width:1162px) {
    .main-section {
        width: 90vw;
        height: 80%;
    }

    .title {
        height: 5%;
        margin-top: 10px;
    }
}

@media(max-width:1070px) {

    .input-section {
        width: 60%;
    }

    label,
    input {
        font-size: 18px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .display-details h2 span {
        margin-left: 5px;
    }

    .output-section {
        width: 40%;
    }

    .output-section .timings {
        padding: 20px;
        justify-content: space-around;
    }

}

@media(max-width:920px) {
    .title {
        height: 5%;
    }

    .main-section {
        flex-direction: column;
        padding: 20px 30px;
        height: 85%;
    }

    .input-section {
        width: 100%;
        height: 55%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .input-section div {
        width: 48%;
        margin: 0 5px;
    }

    .input-section h1 {
        width: 100%;
    }

    label {
        font-size: 17px;
    }

    input {
        font-size: 15px;
        padding: 5px 8px;
    }

    .input-section button {
        margin: 0;
        padding: 12px;
    }

    .output-section {
        width: 100%;
        height: 45%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 0px;
    }

    .timings {
        width: 60% !important;
    }

    .display-details {
        width: 40% !important;
    }

    footer {
        height: 5%;
    }

}

@media(max-width:762px) {
    .title {
        height: 5%;
        margin-top: 2px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .input-section div {
        padding: 5px;
    }

    .input-section div {
        width: 100%;
    }

    .input-section button {
        padding: 10px;
        margin: 10px 0;
    }

    .display-details h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
    }

    .timings {
        width: 63% !important;
    }

    .display-details {
        width: 37% !important;
    }

    footer {
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
        height: 10%;
    }

    footer h4 {
        font-size: 10px;
    }

    footer .social-icons i {
        font-size: 10px;
        margin-left: 2px;
    }

    .error h1 {
        font-size: 30px;
    }

    .error button {
        padding: 15px 20px;
        font-size: 15px;
    }
}



@media(max-width:430px) {
    .main-section {
        padding: 20px 12px;
        height: 85%;
        border-radius: 10px;
    }

    input {
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }

    .input-section button {
        padding: 8px;
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .error h1 {
        font-size: 22px;
        padding: 10px;
    }

    .error button {
        padding: 12px 15px;
        font-size: 12px;
        letter-spacing: 2px;
    }
}